@CHARSET "UTF-8";

*{
	transition: .1s all;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

#wrapper{
	margin-top: 50px;
}

#sidebar-wrapper h3{
	text-align: center;
	color: #fff;
	margin-top: 25px;
	margin-bottom: 25px;
}

.res{
	margin-top: 50px;
}

#clear_a{
	margin-top: -15px;
	display: none;
}

#clear_a a{
	color: #9d9d9d;
}

#clear_a a:hover{
	color: #fff;
}

#ul_buttons{
	padding: 0;
	list-style-type: none;
	margin-bottom:-10px;
}

#ul_buttons li{
	display: inline-block;
	padding-left: 10px;
}

#ul_buttons li a{
	color: rgba(0,0,0,0.9);
}
