@CHARSET "UTF-8";

*{
	transition: .1s all;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

#admin_page{
	margin-top: 70px;
}

#error, #success{
	display: none;
}

#errorE, #successE{
	display: none;
}

#table a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color:inherit;
}