@CHARSET "UTF-8";

body{
	background: #2c3e50;
	font-family: 'Ubuntu', sans-serif;
	transition: .25s all;
}

#login_form{
    width: 400px;
    height: 300px;
    background: #fff;
    margin: 150px auto 0;
    border-radius: 5px;
}

#colors_bar{
    width: 400px;
    height: 5px;
    background: url(../../img/login/colors_bar.png) no-repeat;
    padding-bottom:45px;
}

#err_mess{
	display: none;
}