@import("reset.css");

.login_body{
    background: #2c3e50;
}

#login_form{
    width: 400px;
    height: 280px;
    background: #fff;
    margin: 150px auto 0;
    border-radius: 5px;
    
}

#colors_bar{
    width: 400px;
    height: 5px;
    background: url(../img/colors_bar.png) no-repeat;
}

.inputs{
    padding-top: 50px;
    text-align: center;
}

.inputs input{
    width: 280px;
    height: 50px;
    border: 0;
    background: #f3f5f6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    padding-left: 20px;
}

.inputs button{
    width: 300px;
    height: 50px;
    background: #2ecc71;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 0 #2ab766;
}





